.landing{
    background-image: url("../images/shop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
    padding-bottom: 15%;
    position: relative;
    overflow-x: hidden;
}
h1{
    color:red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    font-weight: bold;
}
h4{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}
.test-box{
    background-color: blanchedalmond;
}
nav .navbar{
    width: 99%;
    padding-right: 0px;
}
.navbar-brand{
    margin-right: 50%;
    font-weight: bold;
}
.nav-item a{
    font-weight: 800;
}
h4{
    padding:30px
}
#about-us{
    text-align: center;
    padding: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
}
h2{
    font-weight: bold;
    padding:2%
}
.card-title{
    text-align: center;
    font-weight: bold;
    color: darkblue;
}
.col-md-4{
    padding:10px;
    border-radius: 10%;
}
#menu{
    text-align: center;
    font-size: 150%;
    padding: 20px;
}
.order-overlay{
    background-color:blanchedalmond;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 20px;
    padding-left: 5%;
}
.choice{
    display: none;
}
.delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
}
.order{
    text-align: center;
    font-weight: bold;
}
.choice h2{
    text-align: left;
    font-size: 20px;
}
#your-orders{
    font-size: 30px;
    font-weight: 500;
}
#contact h2{
    text-align: center;
}
#contactdetails h2{
    text-align: left;
}
.footer{
    padding-top: 5%;
}
#addedprice{
    display: none;
}
#finalmessage{
    display: none;
    font-size: 30px;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
}
#regards{
    text-align: center;
    color: orangered;
    font-weight: bold;
    font-size: 30px;
}
#information{
    color: darkcyan;
    font-size: 25px;
    font-weight: 600;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 8%;
}
#contact{
    background-color: lightgrey;
    font-size: 18px;
    margin: 3%;
}
footer{
    text-align: center;

}
@media only screen and (max-width:490px){
    #contact{
        background-color: lightseagreen;
    }
}
td,th{
    font-size: 15px;
}
.form-control{
    padding: 2%;
    margin: 18px;
}



